@import './variables.scss';

.ProductItem {
  // border: 1px solid grey;
  display: block;
  position: relative;
  background-color: #fff;
  width: 280px;
  height: 470px;
  margin: 8px 4px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 10px;
  font-family: roboto, sans-serif;
  box-shadow: 2px 2px 6px rgb(230, 228, 228);
  user-select: none;
  

  &:hover {
    // cursor: pointer;
    height: 518px;
    box-shadow: 4px 4px 8px rgb(230, 228, 228);
  }

  &__id {
    
    position: absolute;
    top: 7px;
    right: 10px;

    color: $id-color;
    font-size: 12px;
    display: none;
    padding: 0;
    margin: 0;

    &--hover {
      display: block;
    }
  }

  &__picture {
    position: absolute;
    // background-image: url('../data/img/pic1.jpg');
    top: 45px;
    left: 40px;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0;
    padding: 0;
    // border: 1px solid red;

    &--hover { 
      left: 27px;
      width: 220px;
      height: 220px;
    }
  }

  &__box-for-discount {
    position: absolute;
    top: 250px;
    left: 10px;

    &--hover {
      top: 272px;
    }
  }

  &__discount {
    display: inline-block;
    border-radius: 2px;
    width: fit-content;
    padding: 2px 7px;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: $discount-color;
  }

  &__action {
    display: inline-block;
    border-radius: 2px;
    width: fit-content;
    padding: 2px 7px;
    margin: 0 5px 0 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    
    &--best-price {
      background-color: $action-color;
    }

    &--hit {
      background-color: $discount-color;
    }
  }

  &__description {
    position: absolute;
    top: 287px;
    left: 10px;

    color: $description-color;
    font-size: 13px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.01;

    &--hover {
      display: none;
    }
  }

  &__title {
    position: absolute;
    top: 310px;
    left: 10px;

    color: $title-color;
    font-size: 16px;
    font-weight: 500;
    tab-size: 20px;
    padding: 0;
    margin: 0;
  }

  &__review-box {
    position: absolute;
    top: 360px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__review {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: $review-color;
    // border: 1px solid red;
    font-size: 14px;
    // line-height: 14px;

    &:hover {
      cursor: pointer;
    }

  }
  
  &__review-star {
    display: inline-block;
    margin-right: 3px;
    height: 8px;
    width: 8px;
    // border: 1px solid black;
    background-color: grey;
    border-radius: 8px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 7px;
    }

    &--approve {
      background-color: gold;
    }
  }

  &__price-title {
    position: absolute;
    top: 385px;
    left: 10px;

    display: inline-block;
    color: $prevPrice-color;
    font-size: 10px;
  }

  &__box-for-price {
    position: absolute;
    top: 402px;
    left: 10px;
  }

  &__price {
    display: inline;
    color: $price-color;
    font-weight: bold;
    font-style: 20px;
  }

  &__cashback {
    display: inline-block;
    width: fit-content;
    padding: 1px 3px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: $cashback-background-color;
    border-radius: 2px;
  }

  &__prevPrice {
    position: absolute;
    top: 435px;
    left: 10px;

    padding: 0;
    margin: 0;
    text-decoration: line-through;
    color: $prevPrice-color;
    font-size: 16px;
  }

  &__button-box {
    display: none;
    position: absolute;
    top: 455px;
    left: 15px;
  }

  &:hover &__button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button-buy {
    // position: absolute;
    // top: 455px;
    // left: 15px;
    color: white;
    background-color: $button-color;
    width: fit-content;
    padding: 0 53px;
    line-height: 40px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;

    &:hover {
      cursor: pointer;
      // color: yellow;
    }

    &:focus {
      background-color: $button-color;
      // color: yellow;
    }
    &:active {
      background-color: $button-color--active;
      // color: yellow;
    }
  }

  &__select {
    // display: none;
    // position: absolute;
    // top: 475px;
    // right: 60px;

    height: 20px;
    width: 20px;
    align-self: center;
    margin-left: 20px;
    opacity: 0.3;
    // border: 1px solid red;

    // &--hover {
    //   display: block;
    // }

    &:hover {
      cursor: pointer;
    }

    &--active {
      opacity: 0.5;
    }
  }
  
}
