$background-color: #f7f8f9;
$id-color: #7c8292;
$discount-color: #ec4833;
$action-color: #669b2e;
$description-color: #5db8ee;
$title-color: #292b30;
$review-color: #787e8e;
$reviewStar-color: #f7bf4c;
$cashback-color: #232e48;
$cashback-background-color: #fcefb9;
$price-color: #ec4833;
$prevPrice-color: #8c919f;
$button-color: #44d853;
$button-color--active: #4dce5a;