@import './components/variables.scss';

.App {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  background-color: $background-color;

  &__div {
    height: 100px;
    width: 100px;
    background-image: url(./data/img/pic1.jpg);
  }

  &__pic {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }
}
